<!--Cards-->
<div class="container" ng-if="profileCard.cards.length > 0">
  <div class="row">
    <div ng-repeat="card in profileCard.cards track by card._id" class="col-md-3">
      <div class="panel widget">

        <!--Image-->
        <div class="panel-body text-center bg-center">
          <div class="row row-table">
            <div class="col-xs-12 text-white">
              <img ng-src="{{:: card.imgSrc}}" alt="Image" class="img-thumbnail img-circle thumb128">
              <h3>{{:: card.fullName}}</h3>

            </div>
          </div>
        </div>

        <div class="list-group">

          <!--Inbox-->
          <a href="{{'#/inbox/' + card._id}}" class="list-group-item">
            <i class="glyphicon glyphicon-envelope"></i>
            Inbox
          </a>

          <!--Short Title-->
          <div class="list-group-item">
            {{:: card.shortTitle}}
          </div>

          <!--Quote-->
          <div class="list-group-item">
            {{:: card.quote}}
          </div>

          <!--Number Of Friends-->
          <div class="list-group-item">
            <span class="label label-danger pull-right">{{::  card.numberOfFriends}}</span>
            Friends
          </div>

          <!--Like-->
          <div class="list-group-item card-like">
            <a ng-click="profileCard.onLikeClick(card)">
              <i class="glyphicon glyphicon-thumbs-up"></i>
            </a>
            <span>{{card.totalLikes}}</span>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<!--Empty Cards Text-->
<h1 ng-if="profileCard.cards.length === 0" class="empty-cards">
  Click on the Add Card button below to create new Card
</h1>

<!--Footer Buttons-->
<footer class="card-footer">
  <button type="button" class="btn btn-default add-card-button"
          ng-click="profileCard.onAddContactClick()">
    Add Card
  </button>
</footer>
